.header_container{
  padding: 0 30px;
}
.content{
  min-height: calc(100vh - 162px);
}
.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.btn_search{
  position: absolute;
  top: 0;
  right: 0;
}
.filter{
  margin:0px 10px;
}
.page404{
  width: 100%;
  text-align: center;
}
.page404 h1{
  font-size: 100px;
}